In [1]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
library(testthat)
library(digest)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches


── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard()   masks purrr::discard()
✖ dplyr::filter()     masks stats::filter()
✖ recipes::fixed()    masks stringr::fixed()
✖ testthat::is_null() masks purrr::is_null()
✖ dplyr::lag()        masks stats::lag()
✖ rsample::matches()  masks testthat::matches(), dplyr::matches(), tidyr::matches()
✖ yardstick::spec()   masks readr::spec()
✖ recipes::step()     masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [2]:
weather_data <- read.csv("PRSA_Data_Tiantan_20130301-20170228.csv")
weather_data

      No    year month day hour PM2.5 PM10 SO2 NO2 CO  O3 TEMP PRES   DEWP
1     1     2013 3     1   0    6      6   4    8  300 81 -0.5 1024.5 -21.4
2     2     2013 3     1   1    6     29   5    9  300 80 -0.7 1025.1 -22.1
3     3     2013 3     1   2    6      6   4   12  300 75 -1.2 1025.3 -24.6
⋮     ⋮     ⋮    ⋮     ⋮   ⋮    ⋮     ⋮    ⋮   ⋮   ⋮   ⋮  ⋮    ⋮      ⋮
35062 35062 2017 2     28  21   18    32   4   48  500 48 10.8 1014.2 -13.3
35063 35063 2017 2     28  22   15    42   5   52  600 44 10.5 1014.4 -12.9
35064 35064 2017 2     28  23   15    50   5   68  700 21  8.6 1014.1 -15.9
      RAIN wd  WSPM station
1     0    NNW 5.7  Tiantan
2     0    NW  3.9  Tiantan
3     0    NNW 5.3  Tiantan
⋮     ⋮    ⋮   ⋮    ⋮
35062 0    NW  1.1  Tiantan
35063 0    NNW 1.2  Tiantan
35064 0    NNE 1.3  Tiantan

In [3]:
tidy_data <- weather_data |>
            select(-No , -year, -month, -day, -hour, -PM10, -SO2, -NO2, -O3, -wd)
colnames(tidy_data) <-
            c('PM_2.5', 'CO', 'Temperature' , 'Pressure' , 'Dew_Point_Temperature' , 'Rain' , 'Wind_Speed' , 'Region')
tidy_data

      PM_2.5 CO  Temperature Pressure Dew_Point_Temperature Rain Wind_Speed
1     6      300 -0.5        1024.5   -21.4                 0    5.7
2     6      300 -0.7        1025.1   -22.1                 0    3.9
3     6      300 -1.2        1025.3   -24.6                 0    5.3
⋮     ⋮      ⋮   ⋮           ⋮        ⋮                     ⋮    ⋮
35062 18     500 10.8        1014.2   -13.3                 0    1.1
35063 15     600 10.5        1014.4   -12.9                 0    1.2
35064 15     700  8.6        1014.1   -15.9                 0    1.3
      Region
1     Tiantan
2     Tiantan
3     Tiantan
⋮     ⋮
35062 Tiantan
35063 Tiantan
35064 Tiantan